.box1{
    width:100px;

    margin-left: 20%;

    border: solid 3px #000000;

    background-color: #ff0000;
    }
.box2{

    width:100px;

    margin-left: 10%;

border: solid 3px #000000;

background-color: rgb(0, 255, 34);
}
.box5{
    width:100px;

    margin-left: 10%;

    border: solid 3px #000000;

    background-color: #d0ff00;
    }


main{
    display: flex;
}
.box3{
    width:100px;

    align-items: center;

margin: 5em;

border: solid 3px #000000;

background-color: #ffffff
}
.box4{
    width:500px;

    margin: auto;

    margin-bottom: 3%;
    
    border: solid 3px #000000;
    
    background-color: #ffffff
}